<div class="row">
  <aside class="col-md-4">
    <section class="pardon_form">
      
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Publicaciones</h3>
    <%= button_to "Compartir", new_publication_path, class: "btn btn-primary", method: "get" %>
    <%= render 'shared/feed' %>
  </div>
</div>