<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "¿Seguro?" } %>
  <% end %>
</li>