<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <% if @user.picture? %>
          <%= image_tag(@user.picture.url, width: 150, height: 150, alt: @user.name) %>
        <% else %>
          <%= image_tag("no_profile.jpg", alt: @user.name, width: 150, height: 150) %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  </div>
</div> 	