<div class="row">
  <aside class="col-md-4">
    <section class="micropost_form">
      <%= render 'shared/pardon_form1' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/pardon_form2' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Perdones</h3>
    <ul class="microposts">
      <%= render @pardons %>
    </ul>
  </div>
</div>
