<footer class="footer">
  <small>
    #HackatonCA ReconciliaTIC por la Paz
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   about_path %></li>
      <li><%= link_to "Contactenos", contact_path %></li>
    </ul>
  </nav>
</footer>